/bin/
/.classpath
/.project
/.DS_Store
/pdffiller.log
/pdffiller-1.log
/pdffiller-10.log
/pdffiller-2.log
/pdffiller-3.log
/pdffiller-4.log
/pdffiller-5.log
/pdffiller-6.log
/pdffiller-7.log
/pdffiller-8.log
/pdffiller-9.log
/build/
/.gradle/
/.README.md.html
/build-eclipse/
