Dear {{ParentFirstName}}

We like to present you with your child's AATG award document. Additionally,
we included the raw score results with percentiles.

Both documents are available in this email as secure PDF attachments.
The document password is the last name of your child's teacher.

All students in grades 6-8 will be presented with the certificate in a school
event later in the school year and all students who scored in the 90th
percentile in grades 9-11 will be invited to an awards ceremony by the
AATG Massachusetts Chapter. Details for both events will follow.

Regards,

Claudia Bonmassar
